* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

nav  a {
    text-decoration: none;
}
header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF7ED;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style-type: none;
    cursor: pointer;
    margin-right: 1.5rem;
}
.home{
    background-image: url("./assets/images/home-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    height: 80vh;
}
.home main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home h2,p{
     max-width: 500px;
}
.home h2{
    font-size: 36px;
    font-weight: 800;
}
.btn {
    width: 100%;
    background-color: #FF8C38;
    color: white;
    border: none;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 500px;
    text-decoration: none;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #252525;
    color:#AAAAAA
}
.about-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.about main{
    padding: 1rem 0.8rem;
}
.about main p{
    color: #161616;
}
.lastbox{
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #FFCC8D;
}
.lastbox button{
    background-color: #161616;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}
.van-container{
    max-width: 400px;
    padding: 0.5rem;
}
.van-container img{
    width: 100%;
    object-fit: cover;
}
.van-container .content{
    display: flex;
    justify-content: space-between;
}
p{
    font-weight: bold;
}
button{
    padding:  0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color:#FFEAD0;
}
.simple{
    background-color: #E17654;
}
.luxury{
    background-color: black;
}
.rugged{
    background-color: #115E59;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    justify-items: center;
    max-width: 1000px;
    margin: 40px auto;
    gap: 0;
}
.vans{
    padding: 1rem 5rem;
    
}
.logo{
    text-decoration: none;
    color: black;
}
.about{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 2rem 5rem;
}
h1{
    text-align: center;
}
@media (max-width:768px){
    .main-container{
        grid-template-columns: 1fr;
    }
    .about{
        grid-template-columns: 1fr;
        height: auto;
    }
}